.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid gray;
  width: 300px;
}

.btn {
  margin: 0;
  padding: 15px 15px;
  height: 100%;
}
